*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
    font-family: 'Merriweather', serif;
}

header{
    height: 85px;
    background-color: #333;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
}

header *{
    color: #fff;
}

header > div{
    display: flex;
    height: 100%;
    align-items: center;
}

header #logo{
    width: 80px;
    height: 100%;
    margin: 0 20px;
}

header #logo img{
    height: 90%;
}

h1{
    font-size: 2em;
    font-family: cursive;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 40px;
}

.header-section h2{
    font-size: 2rem;
    margin-bottom: 12px;
}

#type-of-training{
    margin: 0 30px;
}


.contents.border-styles{
    border-radius: 20px;
}

.contents{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

.contents .contents-column{
    flex-direction: column;
}

.contents.no-wrap{
    flex-wrap: nowrap;
}

.contents > figure > a{
    border: 2px solid #c0c0c0;
    border-radius: 20px;
    border-right: 0;
    border-left: 0;
    width: 300px;
    height: 280px;
    padding: 5px;
    margin: 8px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 30px 20px;
    background-color: #eee;
    background-color: rgba(253, 250, 244, 0.801);
}

.contents figure img{
    max-height: 68%;
    max-width: 90%;
    margin: 0 auto;
}

.contents figure figcaption{
    text-align: center;
    margin-bottom: 10px;
}

footer{
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

footer > .header-footer{
    height: 90px;
    padding: 10px;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > .header-footer > img{
    height:80%;
    margin-right: 20px;
}
footer > .header-footer > h2{
    color: #fff;
    font-size: 1.2rem;
}
footer * {
    color: #ccc;
}

footer > #about-website > p{
    margin-bottom: 10px;
    text-align: center;
}

footer > #about-website a{
    font-style: italic;
    text-decoration: dotted;
}

.nav-main > ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-main li {
    margin: 0 20px 0 10px;
}


footer a, .nav-main a{
    color: #F2C53D;
}

footer a:hover, .nav-main a:hover{
    color: #BF861B;
}

.nav-main a{
    padding: 5px;
    margin-left: 10px;
}


@media(max-width: 712px){
    header{
        flex-direction: column;
        justify-content: left;
        align-items: stretch;
    }

    header > div{
        height: 70%;
    }

    h1{
        font-size: 1.7em;
    }
}