*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
    font-family: 'Merriweather', serif;
    text-align: center;
}

body{
    min-height: 100vh;
}

header{
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

header *{
    color: #fff;
}

header > div{
    display: flex;
    height: 85px;
    align-items: center;
}

header #logo{
    max-width: 25%;
    height: 95%;
    margin: 0 .5rem;
    display: flex;
    align-items: center;
}

header #logo img{
    height: 100%;
}

h1{
    font-size: 2rem;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2px;
}

.header-section h2{
    font-size: 2rem;
    margin-bottom: .8rem;
}

#type-of-training{
    margin: 0 30px;
}


.contents.border-styles{
    border-radius: 20px;
}

.contents{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
}

.contents .contents-column{
    flex-direction: column;
}

.contents.no-wrap{
    flex-wrap: nowrap;
}

.contents > figure > a{
    border: 2px solid #c0c0c0;
    border-radius: 20px;
    border-right: 0;
    border-left: 0;
    
    width: 300px;
    height: 280px;
    
    padding: 0.8rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    margin: 1rem;
    background-color: #eee;
    background-color: rgba(253, 250, 244, 0.801);
}

.contents figure img{
    max-height: 68%;
    max-width: 90%;
    margin: 0 auto;
}

.contents figure figcaption{
    margin-bottom: 1rem;
}

footer{
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    width: 100%;
    position: sticky;
    top: 100%;
}

footer > .header-footer{
    height: 90px;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > .header-footer > img{
    height:80%;
    margin-right: 1rem;
}
footer > .header-footer > h2{
    font-size: 100%;
    color: #fff;
}

footer #about-website{
    margin-bottom: 0.5rem;
}

footer * {
    color: #ccc;
}

.nav-main > ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-main li {
    margin: 0 1rem 0 0.8rem;
}


footer a, .nav-main a{
    color: #F2C53D;
    animation: all .3s;
}

footer a:hover, .nav-main a:hover{
    color: #BF861B;
}

#developer{
    padding: 0.5rem;
}

.nav-main a{
    padding: 5px;
    margin-left: 1rem;
}

.center-medium{
    width: 60%;
}

.center-custom{
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 4rem;
    background-color: rgba(238, 238, 238, 0.5);
    box-shadow: 1px 1px 20px -10px #333;
    border-radius: 20px;
    padding: 1rem;
}

.center-larger{
    min-width: 250px;
    width: 65%;
}

section.main-about h2{
    margin-bottom: .5rem;
    color: #daa440;

}

section.main-about p{
    color: #333;
}

#main-contact .header-img{
    display: flex;
    height: 100px;
    align-items: center;
    margin-bottom: .8rem;
    justify-content: space-between;
}

#main-contact .header-img h2{
    width: calc(100% - 80px);
}

#main-contact .header-img .img{
    margin-right: 1rem;
    background: url(../assets/img/my-photo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#main-contact #infos-contact{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#infos-contact #sociais{
    width: 100%;
}

#infos-contact > div{
    width: 100%;
    padding: 0 1rem;
    border-top: 2px solid #333;
    margin-bottom: 0.5rem;
    margin-top: 2px;
}

#infos-contact h2{
    font-size: 1.2rem;
    text-align: left;
    margin-top: 0.5rem;
}

#infos-contact nav{
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
}

#infos-contact nav a{
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    color: #daa440;
    display: flex;
    align-items: center;
    height: 42px;
    width: 200px;
}

#infos-contact nav a img{
    height: 80%;
    margin-right: 0.5rem;
}


@media(max-width: 712px){
    header{
        justify-content: center;
    }

    header .header{
        align-items: center;
    }

    header > div{
        height: 65px;
        margin-bottom: .5rem;
    }

    header #logo img{
        height: 100%;
    }

    header > .nav-main{
        width: 100%;
        margin-bottom: 0.5rem;
    }
    
    header .nav-main ul{
        display: flex;
        width: 100%;
        list-style: none;
        align-items: flex-start;
        justify-content: center;
    }

    header .nav-main ul  li{
        margin: 0;
        text-decoration: none;
        font-size: 1.1rem;
        text-decoration: underline;
        animation: all .3s;
    }

    header .nav-main ul  li:hover{
        text-decoration: none;
    }

    h1{
        font-size: 1.2rem;
        width: 72%;
    }

    main > section.main-about{
        width: 90%;
    }

    #main-contact .header-img h2{
        font-size: 1rem;
    }
    
    #main-contact section{
        width: 90%;
    }
}